@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
}
:root {
    --primary: #ffffff;
    --secondary: #000000;
    --ter: #000000d0;
    --cinza: #A4A1A1;
    --cinzaClaro: #D9D9D9;
}
body{
  background-color: #eeeeee;
}
link{
  text-decoration: none;
  
}
input{
  width: 100%;
  padding: 0.8rem;
  margin: 0.8rem 0;
  background-color: #ffffff;
  border: 2px solid #444;
  border-radius: 4px;
  color: #fff;
  font-size: 16px; /* Define o tamanho fixo do texto para evitar zoom */
  font-weight: 500;

  outline: none;
  transition: border-color 0.3s;
  -webkit-text-size-adjust: 100%; /* Remove zoom em dispositivos móveis */

}